*dependency-reduced-pom.xml
.classpath
.project
.settings/
target/
devenv
*.log*
*.iml
.idea/
*.versionsBackup
!NOTICE-BIN
!LICENSE-BIN
.DS_Store
localbin
nohup.out
/.github/ISSUE_TEMPLATE/issue_template.md
/.github/PULL_REQUEST_TEMPLATE.md
